#post-header h1, #post-header h2, #post-header h3, #post-header h4 {
  display: block;
  width: 650px;
  text-align: center;
  margin-left: auto;
  margin-right: auto; }
  #post-header h1#post-title, #post-header h2#post-title, #post-header h3#post-title, #post-header h4#post-title {
    margin-top: 65px;
    margin-bottom: 0px;
    font-size: 2.2em; }
  #post-header h1#post-subtitle, #post-header h2#post-subtitle, #post-header h3#post-subtitle, #post-header h4#post-subtitle {
    margin-top: 0; }
#post-header span#title-separator {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60px;
  text-align: center;
  font-size: .7em; }

#post {
  max-width: 550px;
  padding: 6px;
  margin-left: auto;
  margin-right: auto;
  text-align: justify; }
  #post div.highlight {
    padding: 4px 11px 4px 11px; }

table.links {
  width: 550px;
  margin-left: auto;
  margin-right: auto; }
  table.links td {
    width: 33%; }
    table.links td.prev {
      text-align: left; }
    table.links td.next {
      text-align: right; }
    table.links td.list {
      text-align: center; }
