h1.title-heading {
  width: 100%;
  text-align: center;
  margin-top: 2.5em;
  margin-bottom: 2em;
}

body {
  padding-left: 2em;
  padding-right: 2em;

  h1,h2,h3,h4,h5 {
    margin-top: 1.5em;
    margin-bottom: 0.5em;
  }
}

div.home-wrapper {
  width: 100%;
  margin: 3em 1em 2em;

  div.posts-container {
    div.short-post {
      margin-bottom: 3em;
      width: 70%;
      margin-left: auto;
      margin-right: auto;

      div.post-header {
        span.post-date {
          margin-right: 2em;
        }

        span.post-title {
          font-weight: bold;
        }
      }

      div.post-summary {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}

a {
  color: #000000;
  text-decoration: none;

  &:hover {
    color: #888888;
  }
}

pre {
  background-color: #E3E0E5;
  margin-left: 0.5em;
  margin-right: 0.5em;
  white-space: pre-wrap;

  @media all and (max-width: 759px) {
    margin-left: 0;
    margin-right: 0;
    font-size: 0.7em;
  }
}

code {
  background-color: #E3E0E5;
}
