---
title: "with_ruby { |rb| dump_thoughts_on(rb) }"
---

div.home-wrapper
  div.posts-container
    div.short-post
      div.post-header
        span.post-date 2025-07-09
        span.post-title Post One
      div.post-summary
        p.content
          ' This post discusses a few things about the nature of engineering and is
          ' also long enough to wrap a bit hopefully.

    div.short-post
      div.post-header
        span.post-date 2025-07-07
        span.post-title Post Two
      div.post-summary
        p.content
          ' This post also discusses a few things about the nature of engineering and is
          ' also long enough to wrap a bit hopefully.

    div.short-post
      div.post-header
        span.post-date 2025-06-22
        span.post-title Post Three
      div.post-summary
        p.content
          ' This post doesn't discusses a few things about the nature of engineering and is
          ' also long enough to wrap a bit hopefully.
